body {
  padding: 0 1.5em;
  font-size: 18px !important;
}

.join-button-container {
  display: flex;
  justify-content: center;

  .join-button {
    background-color: $green;
    color: white;
    display: block;
    font-weight: 700;
    min-width: 150px;
  }
}

.join-radio {
  display: none;
}

.radio-label {
  background-color: white;
  border: 1px solid $red;
  color: $red;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  margin-bottom: 15px;
  text-align: center;
  width: 100%;
}

.join-radio:checked + div > .radio-label {
  background-color: $red;
  color: white;
}

.join-radio-container {
  display: inline-block;
  width: 50%;
}

.Select--single >  .Select-control {
  height: 46px;

  .Select-placeholder,
  .Select-value,
  .Select-input {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }

  .Select-placeholder,
  .Select-value-label,
  .Select-input {
    font-size: 18px;
    line-height: 42px;
  }
}
